
.mycontainer{
  margin-top:10%;
  margin-bottom:10%;

  max-width: 70%;
  margin-left: 15%;
  position: relative;
}
.user-role{
  background: #e91e63;
  display: inline-block;
  border-radius: 10%;
  margin: 20px auto;
}


.selectRole {
  width: 15%;
  margin: 15px;
  position: relative;
  left: 41%;
}
#image-gallery .modal-footer{
  display: block;
}
.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}